#cabeceraweb {
    background-color: rgb(241, 170, 15);
    font-size: 30px;
    font-family: Verdana, Tahoma, sans-serif;
}

#navegacionprincipal {
    background-color: rgb(241, 170, 15);
    font-family: Verdana, Tahoma, sans-serif;
}

#barralateral {
    background-color: rgb(212, 247, 160);
    float:left; /* alinea a la izquierda, la caja de contenidoprincipal rodeará a barralateral */
    width: 180px;
    height: 3300px;
    font-family: Verdana, Tahoma, sans-serif;
}

#contenidoprincipal {
    background-color: rgb(253, 250, 202);
    margin-left: 200px; /* separación desde el borde izquierdo de la página*/
    padding-left: 10px;
    padding-top: 10px;
    font-family: Verdana, Tahoma, sans-serif;
}

#pieprincipal {
    background-color: rgb(241, 170, 15);
    clear:both; /*anula el comportamiento float de barralateral para con pieprincipal*/
    margin-top: 20px;
    font-family: Verdana, Tahoma, sans-serif;
}

